{% extends "base.html" %}

{% block content %}
    <h1>Witamy na stronie projektu programistycznego!</h1>
    <p>Cel aplikacji: Pobieranie i analiza opinii z serwisu Ceneo.pl.</p>
    <p>Opis działania aplikacji:</p>
    <ul>
        <li>Pobieranie opinii o produktach na podstawie ich kodów.</li>
        <li>Wyświetlanie pobranych opinii i statystyk.</li>
        <li>Generowanie wykresów na podstawie zebranych danych.</li>
    </ul>
    <p>Zastosowane biblioteki: Flask, Requests, BeautifulSoup, Pandas.</p>
    <p>Zastosowane podejścia: Strukturalne, Proceduralne, Obiektowe.</p>
{% endblock %}
